*.js
*.js.map
typings/

node_modules/*
!node_modules/typescript/

node_modules/typescript/*
!node_modules/typescript/lib/

node_modules/typescript/lib/*
!node_modules/typescript/lib/lib.d.ts

!systemjs.config.js